.content{
  display: flex;
  width: 90vw;
  margin: auto;
}
.item{
  flex:0.5;
  margin:10px;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:pink;
  font-size: 20px;
  transition: all 700ms ease-in;
}
.active{
  flex:5;
}